html {
  font-size: 20px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
  /*font-family: "Open Sans", sans-serif; */
  font-family: 'Estonia', cursive;
    /* Este debe ser el resto del resultado que obtuviste de Google fonts */
    /*background-color: #7F3FBF;*/
    background-color: #00539F;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

body {
  width: 600px; /*esto hará que el cuerpo siempre tenga 600 píxeles de ancho.*/
  margin: 0 auto; /*— cuando seleccionas dos valores dentro de propiedades como margin o padding, el primer valor afectará los lados superior (top) e inferior (bottom) (en este caso haciéndolo en 0), y el segundo valor los lados izquierdo (left) y derecho (right) (aquí, auto es un valor especial que divide el espacio disponible entre derecha e izquierda).*/
  background-color: #FF9500;/*como antes, este selecciona el color de fondo de un elemento. */
  padding: 0 20px 20px 20px;/*— tienes 4 valores puestos en el relleno, para dar un poco de espacio alrededor del contenido. Esta vez no pondrás relleno en la parte de arriba de body, 20 píxeles a la izquierda, abajo y derecha. Los valores se ponen: arriba, derecha, abajo e izquierda, en ese orden. */
  border: 5px solid black;/*— este simplemente pone un borde de 5 píxeles de ancho, continuo y de color negro alrededor del elemento body.*/
}

h1 {
     margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
  font-size: 80px;
  text-align: center;
}

p, li {
  font-size: 30px;
  line-height: 2; /* un ancho de línea */
  letter-spacing: 1px; /*espaciado entre letras en el contenido del texto para hacerlo */
}

img {
  display: block;
  margin: 0 auto;
}